<header class="tech-header header">
    <div class="container-fluid">
        <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/images/version/tech-logo.png" alt=""></a>
            <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarCollapse">
                <ul class="navbar-nav mr-auto"></ul>
                <partial name="_LoginPartial" />
            </div>  
        </nav>
    </div><!-- end container-fluid -->
</header><!-- end market-header -->