@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav mr-1 ">
    @if (User.Identity.IsAuthenticated)
    {


        @if (User.IsInRole("admin"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Личный кабинет</a>
            </li>
        }
        else
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="User" asp-controller="Home" asp-action="Index">Личный кабинет</a>
            </li>
        }
        <li class="nav-item">
            <form method="post" asp-area="" asp-controller="Account" asp-action="Logout">
                <input type="submit" class="btn btn-link text-dark" role="button" value="Выйти" />
            </form>
        </li>

    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Register">Регистрация</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login">Вход</a>
        </li>
    }
</ul>
