@model IList<Category>
@{
    ViewData["Title"] = "Управление категориями";
}

<p class="h1 text-center">@ViewData["Title"]</p>

<div class="container" style="margin-bottom:15px">
    <a class="btn btn-primary" asp-area="User" asp-controller="Category" asp-action="Edit">Добавить категорию</a>
</div>

<p class="h3 text-center">Список категорий</p>
<table class="table">
    <thead>
        <tr>
            <th>Категория</th>
            <th>ID</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
        <tr>
            <td>@category.Name</td>
            <td>@category.Id</td>
            @if (User.IsInRole("admin"))
            {
                <td><a asp-area="User" asp-controller="Category" asp-action="Edit" asp-route-id="@category.Id">Редактировать</a></td>
                <td><a asp-area="User" asp-controller="Category" asp-action="Delete" asp-route-id=@category.Id>Удалить</a></td>        
            }              
        </tr>
        }
    </tbody>
</table>

