@model EditViewModel

@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> signInManager
@inject UserManager<ApplicationUser> userManager

@{
    if (Model.Article.Id != default)
    {
        ViewData["Title"] = "Редактирование статьи";
    }
    else
    {
        ViewData["Title"] = "Создание статьи";
    }

    string tagsName = "";
    foreach (var TagName in Model.Tags)
    {
        tagsName += TagName + ",";

    }
    if(tagsName.Length != 0)
        tagsName = tagsName.Remove(tagsName.Length - 1);
}

<script src="~/lib/ckeditor/ckeditor.js"></script>

<p class="h1 text-center">@ViewData["Title"]</p>

<div class="col-md-offset-3 col-md-6 m-md-auto">
    <form method="post" asp-area="User" asp-controller="Article" asp-action="Edit" enctype="multipart/form-data">
        <input type="hidden" asp-for="Article.Id" />
        <input type="hidden" asp-for="Article.DateAdd" />
        <input type="hidden" asp-for="Article.AuthorId" />

        <div class="form-group">
            <label asp-for="Article.Title"></label>
            <input type="text" class="form-control" asp-for="Article.Title">
            <span asp-validation-for="Article.Title"></span>
        </div>
        <div class="form-group">
            <label asp-for="Article.ShortDescription"></label>
            <input type="text" class="form-control" asp-for="Article.ShortDescription">
            <span asp-validation-for="Article.ShortDescription"></span>
        </div>

        <div class="form-group">
            <label asp-for="Article.TitleImagePath"></label>
            <input type="file" onchange="onFileSelected(event)" name="titleImageFile" />
            <div>
                <img class="img-block" id="titleImage" style="background-size:cover; width:600px; height:500px;" src="~/@Model.Article.TitleImagePath">
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Article.CategoryId"></label>          
            <div class="form-group" style="display:flex">
                <select asp-for="Article.CategoryId" asp-items="Model.Categoryes" class="form-control">
                    <option selected="selected" disabled="disabled">Выберите категорию</option>
                </select>
                <a class="btn btn-danger" style="font-size: 20px; padding: 0.4rem 1rem; margin-left: 5px;" asp-area="User" asp-controller="Category" asp-action="Edit">+</a>
            </div>          
        </div>

        <div class="form-group">
            <label>Теги (указывайте через запятую!)</label>
            <input type="text" name="TagsStr" class="form-control" value="@tagsName">
        </div>

        <div class="form-group">
            <label asp-for="Article.Content"></label>
            <textarea asp-for="Article.Content"></textarea>
            <span asp-validation-for="Article.Content"></span>
        </div>

        <div class="form-group">
            <button type="submit" class="btn btn-default">Сохранить изменения</button>
            <a class="btn btn-danger" asp-area="User" asp-controller="Home" asp-action="Articles">Отмена</a>
        </div>
    </form>
</div>

<script>
      window.onload = function() {
                    var newCKEdit = CKEDITOR.replace('@Html.IdFor(x=>x.Article.Content)');
                    newCKEdit.updateElement();
                }

                function onFileSelected(event) {
                    var selectedFile = event.target.files[0];
                var reader = new FileReader();

                var imgtag = document.getElementById("titleImage");
                imgtag.title = selectedFile.name;

        reader.onload = function (event) {
                    imgtag.src = event.target.result;
                };

        reader.readAsDataURL(selectedFile);
    }
</script>
